<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page d acceuil</title>
</head>
<body>
    <h1>LITReview</h1>
    <h2>Inscrivez-vous maintenant</h2>
    <form action="">
        <button>Inscrivez-vous</button>
    </form>
    <h2>Connectez-vous</h2>
    <form action="">
        <label for="name">Nom d'utilisateur</label>
        <input type="text" id="name" name="name">
        <label for="password">Mot de passe </label>
        <input type="text" id="password" name="password">
        <button>Se connecter</button>
    </form>
</body>
</html>