{% extends 'reviews/base.html' %}

{% block title %}Vos posts - LITReview{% endblock %}

{% block content %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom mb-4">
  <div class="container">
    <div class="navbar-nav d-flex flex-row w-100 justify-content-between align-items-center">
      <div class="d-flex gap-3">
        <a class="nav-link active fw-semibold {% if request.resolver_match.url_name == 'feed' %}text-primary active{% else %}text-dark{% endif %}" href="{% url 'feed' %}">Flux</a>
        <a class="nav-link fw-semibold {% if request.resolver_match.url_name == 'posts' %}text-primary active{% else %}text-dark{% endif %}" href="{% url 'posts' %}">Posts</a>
        <a class="nav-link fw-semibold {% if request.resolver_match.url_name == '' %}text-primary active{% else %}text-dark{% endif %}" href="">Abonnement</a>
      </div>
      <h1 class="text-primary d-dlex justify-content-center ">LITReview</h1>
      {% if user.is_authenticated %}
        <form method="post" action="{% url 'logout' %}" class="m-0">
          {% csrf_token %}
          <button type="submit" class="btn btn-link text-danger text-decoration-none p-0">Déconnexion</button>
        </form>
      {% endif %}
    </div>
  </div>
</nav>
<div class="container">
    <h1 style="text-align: center; margin-bottom: 32px;">
         Vos posts
    </h1>
    
    {% if posts %}
        {% for post in posts %}
            {% if post.content_type == 'TICKET' %}
                {% include 'reviews/ticket_snippet.html' with ticket=post %}
            {% elif post.content_type == 'REVIEW' %}
                {% include 'reviews/review_snippet.html' with review=post %}
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
{% endblock %}